/* START CONTACT */

.contact {
    padding: 50px 0;
  
    .content-1 {
      font-size: 23px;
      font-weight: 300;
      margin-bottom: 10px;
      text-align: center;
      letter-spacing: 1px;
      color:#3a6073;
    }
  
    .content-2 {
      color: linear-gradient(to bottom, #b79891, #94716b);
      font-size: 34px;
    }
  }
  
  /* END CONTACT */