.page-footer{
  background: linear-gradient(230deg, rgba(245,159,159,1) 0%, rgba(247,193,155,1) 19%, rgba(255,254,148,1) 39%, rgba(171,246,155,1) 60%, rgba(143,245,255,1) 81%, rgba(228,147,227,1) 100%);

  h5,h4{
    font-size: 18px;
    color: #3A6073;
    margin: 0;
    padding-top: 20px;
    letter-spacing: 1.7px;
  }
  .social{
    a{
      text-decoration: none;
    color: #3A6073;

      i{
        padding: 15px;
        
        border-radius: 50%;
        transition: all 1s;
      } &:hover{
        padding-left: 20px;
        transition: all 1s;

      }
    }
   
  }
}