.page-footer{
  background: linear-gradient(
    135deg
    ,#ffabab 0,#ffcdb3 20%,#faffb0 40%,#bdffb3 60%,#b3c8ff 80%,#e4b3ff 100%);

  h5{
    font-size: 18px;
    color: #3A6073;
    margin: 0;
    padding-top: 20px;
    letter-spacing: 1.7px;
  }
  .social{
    a{
      text-decoration: none;
    color: #3A6073;

      i{
        padding: 15px;
        
        border-radius: 50%;
        transition: all 1s;
      } &:hover{
        padding-left: 20px;
        transition: all 1s;

      }
    }
   
  }
}