.nav-pills-custom .nav-link {
    color: #3a6073;
    background:#fff;
    position: relative;
    transition: all 0.5s;
    color: #000;
    &:hover{
      padding-left: 25px;
    }
};

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #3a6073;
  background: linear-gradient(
    135deg
    ,#ffabab 0,#ffcdb3 20%,#faffb0 40%,#bdffb3 60%,#b3c8ff 80%,#e4b3ff 100%);
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: '';
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}
.allProduct{
  
  h4 {
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: 				#3a6073;
   
    position: relative;
    border-bottom: 1px solid #dfdfdf;

    padding-bottom: 20px;

     &::after {
       content: "";
       width: 120px;
       display: block;
      height: 4px;
       box-shadow: 0 0 20px 0 #16222a;
       background: linear-gradient(
        135deg
        ,#ffabab 0,#ffcdb3 20%,#faffb0 40%,#bdffb3 60%,#b3c8ff 80%,#e4b3ff 100%);
       /* dùng position bỏ qua hết các padding */
       position: absolute;
       bottom: -1px;
       left: 0;
       transition: all 0.3s linear;
     }
  }

  .headerallProduct {
		color: #3a6073;
		margin-top: 30px;

		a {
			text-decoration: none;
			color: #16222a;
		}
		h3 {
			font-size: 16px;
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}
	}


  .item {
    /* Colorize-zoom Container */
    .img-hover-zoom {
        margin: 0 auto;
        width: 100%;
        
      img {
        transform-origin: 65% 75%;
        transition: transform 1s, filter .5s ease-out;
        border-radius: 5px;
       width: 100%;
       &:hover::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
                background: linear-gradient(
    135deg
    ,#ffabab 0,#ffcdb3 20%,#faffb0 40%,#bdffb3 60%,#b3c8ff 80%,#e4b3ff 100%);
      }
      &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
      }
     
     
    }
          padding: 10px auto;
          transition: box-shadow .3s;
          border-radius:10px;
          transition: box-shadow .3s;
          margin: 10px;
          border-radius:10px;
          background: #fff;
          padding: 10px ;
          
          .name{
              color:#3a6073;
              font-size: 14px;
              letter-spacing: 2px;
              text-transform: uppercase;
          }
    p {
      margin: 0;
              font-size: 12px;
              letter-spacing: 1.5px;
              text-transform: uppercase;
              color: #4a4a4a;
    }
    .button {
      border-radius: 4px;
      background: linear-gradient(
        135deg
        ,#ffabab 0,#ffcdb3 20%,#faffb0 40%,#bdffb3 60%,#b3c8ff 80%,#e4b3ff 100%);
      border: none;
      color: #ffffff;
      text-align: center;
      font-size: 18px;
      padding: 5px;

      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:after {
          content: "\00bb";
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
      }

      &:hover span {
        padding-right: 25px;
        &:after {
          opacity: 1;
          right: 0;
        }
      }
    }
          &:hover{
          box-shadow: 0 0 11px rgba(33,33,33,.2); 
      }
  }
}