input, select, textarea{
    color: #ff0000;
}
input.transparent-input{
 background-color:#fff !important;
 border:none;
 border-radius: 5px;
 &:hover {
    //  border : 1px solid ;
     background-color:#fff;
     z-index :99;
 } 
}
