<section class="slider">
  <div
    id="carouselExampleCaptions"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <ol class="carousel-indicators justify-content-start">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>

      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>


    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active item item-1">
        <img src="./img/slide/slide_1.jpeg" class="d-block w-100" alt="hero 1" />
        <div class="carousel-caption d-md-block text-center container">
          <span data-wow-delay="0.5s" class="wow bounceInDown center" >Happy endding</span>
          <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Sotus</h1>
          <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure dolorum totam ea non. Corporis eligendi, necessitatibus dolor sequi quibusdam inventore?
          </p>
         
          <button  data-wow-delay="1.1s" class="wow bounceInDown center btn px-4 py-2"><a style=" text-decoration: none ;color:#3a6073;" href="/layout/product-detail/?key=60cd61fecc484e53e6a9bb62">Xem phim</a></button>
        </div>
      </div>

      <div class="carousel-item item item-2">
          <img src="./img/slide/slide_2.jpeg" class="d-block w-100" alt="hero 1" />
          <div class="carousel-caption d-md-block text-center container">
          <span data-wow-delay="0.5s" class="wow bounceInDown center" >Happy endding</span>
          <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Ánh trăng xanh thẳm</h1>
          <p data-wow-delay="0.9s" class="lead wow bounceInDown center" > 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequuntur excepturi dolor fugit eius? Repellendus cumque aliquam possimus tenetur doloribus.
          </p>
          <button  data-wow-delay="1.1s" class="wow bounceInDown center btn px-4 py-2"><a style=" text-decoration: none ;color:#3a6073;" href="/layout/products">Xem phim</a></button>
        </div>
      </div>

      <div class="carousel-item item item-3">
          <img src="./img/slide/slide_3.jpeg" class="d-block w-100" alt="hero 1" />
         <div class="carousel-caption d-md-block text-center container">
          <span data-wow-delay="0.5s" class="wow bounceInDown center" >Open Endding</span>
          <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Yêu hay ngộ nhận</h1>
          <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur ex itaque veniam omnis minus fugiat, at est possimus eligendi.
          </p>
          <button  data-wow-delay="1.1s" class="wow bounceInDown center btn px-4 py-2"><a style=" text-decoration: none ;color:#3a6073;" href="/layout/products">Xem phim</a></button>
        </div>
      </div>
      <div class="carousel-item item item-4">
        <img src="./img/slide/slide_4.jpeg" class="d-block w-100" alt="hero 1" />
       <div class="carousel-caption d-md-block text-center container">
        <span data-wow-delay="0.5s" class="wow bounceInDown center" >Happy Endding</span>
        <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Dark Blue Kiss</h1>
        <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur ex itaque veniam omnis minus fugiat, at est possimus eligendi.
        </p>
        <button  data-wow-delay="1.1s" class="wow bounceInDown center btn px-4 py-2"><a style=" text-decoration: none ;color:#3a6073;" href="/layout/products">Xem phim</a></button>
      </div>
    </div>
    <div class="carousel-item item item-5">
      <img src="./img/slide/slide_5.jpeg" class="d-block w-100" alt="hero 1" />
     <div class="carousel-caption d-md-block text-center container">
      <span data-wow-delay="0.5s" class="wow bounceInDown center" >Happy Endding</span>
      <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Cậu ấy đi tiết thanh minh bên cạnh mộ tôi</h1>
      <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur ex itaque veniam omnis minus fugiat, at est possimus eligendi.
      </p>
      <button  data-wow-delay="1.1s" class="wow bounceInDown center btn px-4 py-2"><a style=" text-decoration: none ;color:#3a6073;" href="/layout/products">Xem phim</a></button>
    </div>
  </div>
  <div class="carousel-item item item-6">
    <img src="./img/slide/slider_6.jpeg" class="d-block w-100" alt="hero 1" />
   <div class="carousel-caption d-md-block text-center container">
    <span data-wow-delay="0.5s" class="wow bounceInDown center" >Sad Endding</span>
    <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Ánh trăng xanh thẳm</h1>
    <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur ex itaque veniam omnis minus fugiat, at est possimus eligendi.
    </p>
    <button  data-wow-delay="1.1s" class="wow bounceInDown center btn px-4 py-2"><a style=" text-decoration: none ;color:#3a6073;" href="/layout/products">Xem phim</a></button>
  </div>
</div>
<div class="carousel-item item item-7">
  <img src="./img/slide/slide_7.jpeg" class="d-block w-100" alt="hero 1" />
 <div class="carousel-caption d-md-block text-center container">
  <span data-wow-delay="0.5s" class="wow bounceInDown center" >Open Endding</span>
  <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Prayrers for Bobby</h1>
  <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aspernatur ex itaque veniam omnis minus fugiat, at est possimus eligendi.
  </p>
  <button  data-wow-delay="1.1s" class="wow bounceInDown center btn px-4 py-2"><a style=" text-decoration: none ;color:#3a6073;" href="/layout/products">Xem phim</a></button>
</div>
</div>

    </div>
  </div>
</section>
