<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="home-section" id="home">
                <div class="home-bg home-bg1"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>Dịch nghĩa tình yêu tôi bằng trái tim cậu</h1>
                            <p>
                                Đây bộ phim Nam Yêu Nam được mình đánh giá là hay nhất từ tới thời
                                điểm 2021.
                            </p>
                            <a
                                href="/layout/product-detail/?key=60d00ba68f290200042976eb"
                                class="button"
                                >Xem phim</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg2"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>Cậu ấy đi tiết thanh minh bên cạnh mộ tôi</h1>
                            <p>
                                Tình yêu vượt qua ranh giới của người với người để chúng ta thấy sự
                                muôn màu của vũ trụ.
                            </p>
                            <a
                                href="/layout/product-detail/?key=60cd628bcc484e53e6a9bb63"
                                class="button"
                                >Xem phim</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg3"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>The love of Siam</h1>
                            <p>
                                Bước vào thế giới phim của những chàng trai yêu nhau thì đây chính
                                là phim mà bạn NHẤT ĐỊNH phải xem!
                            </p>
                            <a
                                href="/layout/product-detail/?key=60cb08a33becd488541eeb8e"
                                class="button"
                                >Xem phim</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg4"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>History - Trapped</h1>
                            <p>
                                Đại diện cực kỳ dễ thương của Đài Loan để chúng ta thêm sự nhiệm
                                màu, oan trái của tình yêu.
                            </p>
                            <a
                                href="/layout/product-detail/?key=60cd6b5e00cef756795843ec"
                                class="button"
                                >Xem phim</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg5"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>Thịnh Thế</h1>
                            <p>
                                Tình yêu chỉ đơn giản là vượt qua trăm nghìn cây số giữa mùa Đông
                                giá rét để nhảy lên ôm chầm lấy người ấy!
                            </p>
                            <a
                                href="/layout/product-detail/?key=60cda3b847ee5a077a2ccf3a"
                                class="button"
                                >Xem phim</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg6"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>Cô gái Đan Mạch</h1>
                            <p>
                                Không chỉ là khát vọng mãnh liệt được là CHÍNH MÌNH mà bộ phim còn
                                lấp lánh ánh nhân văn của tình chị em nghĩa vợ chồng.
                            </p>
                            <a
                                href="/layout/product-detail/?key=6183fd0f4cb79500042c345a"
                                class="button"
                                >Xem phim</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg7"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>Prayer for Bobby</h1>
                            <p>
                                Không cần nói nhiều, hãy lấy một hộp khăn giấy và mời PFLAG xem cùng
                                chúng ta.
                            </p>
                            <a
                                href="/layout/product-detail/?key=60db28f1e2a596000477c37c"
                                class="button"
                                >Xem phim</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg8"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>Song Lang</h1>
                            <p>
                                Tình yêu có nhất thiết phải nói ra? Hay chỉ cần một cái mỉm cười khi
                                nghĩ ngay đến người đó khi nghe câu: "Đen tình đỏ bạc"
                            </p>
                            <a href="#our-menu" class="button">Xem phim</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="home-section" id="home">
                <div class="home-bg home-bg9"></div>
                <div class="container">
                    <div class="row min-vh-100 align-item-center">
                        <div class="home-text" data-aos="fade-up" data-aos-duration="1500">
                            <h1>Yes or No</h1>
                            <p>
                                Nam yêu Nam có TLOS thì người Nữ yêu Nữ không ai là không biết đến
                                YES or No
                            </p>
                            <a href="#our-menu" class="button">Xem phim</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
