<section class="slider">
  <div
    id="carouselExampleCaptions"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <ol class="carousel-indicators justify-content-start">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active item item-1">
        <img src="./img/slide/slide_1.jpg" class="d-block w-100" alt="hero 1" />
        <div class="carousel-caption d-md-block text-center container">
          <span data-wow-delay="0.5s" class="wow bounceInDown center" >Piccolo Coffee & Funny</span>
          <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Coffee Handicraft.</h1>
          <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
            Mỗi trải nghiệm đều gắn liền với hương vị cà phê quen thuộc, dù có đi qua nao miền tôi vẫn luôn say sưa và hạnh phúc. <b>-Kiều Linh</b>
          </p>
         
          <button  data-wow-delay="1.1s" class="wow bounceInDown center btn text-white px-4 py-2"><a style="color: white;text-decoration: none;" href="/search?q=coffee#newIn">Tìm hiểu thêm</a></button>
        </div>
      </div>

      <div class="carousel-item item item-2">
          <img src="./img/slide/slide_2.jpg" class="d-block w-100" alt="hero 1" />
          <div class="carousel-caption d-md-block text-center container">
          <span data-wow-delay="0.5s" class="wow bounceInDown center" >Piccolo Coffee & Funny</span>
          <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Tea Handicraft.</h1>
          <p data-wow-delay="0.9s" class="lead wow bounceInDown center" > 
            Hương trà chiều tỏa ra mọi ngóc ngách trong phòng, ánh nắng chiều chiếu vào mặt bàn gỗ qua những khe hở trên rèm. Nỗi nhớ kèm theo hương trà phả vào sâu trong tận đáy lòng. <b>-Ai Đó</b>
          </p>
          <button  data-wow-delay="1.1s" class="wow bounceInDown center btn text-white px-4 py-2"><a style="color: white;text-decoration: none;" href="/search?q=tea#newIn">Tìm hiểu thêm</a></button>
        </div>
      </div>

      <div class="carousel-item item item-3">
          <img src="./img/slide/slide_3.jpg" class="d-block w-100" alt="hero 1" />
         <div class="carousel-caption d-md-block text-center container">
          <span data-wow-delay="0.5s" class="wow bounceInDown center" >Piccolo Coffee & Funny</span>
          <h1  data-wow-delay="0.7s" class=" display-4 wow bounceInDown center">Breakfast Handicraft.</h1>
          <p data-wow-delay="0.9s" class="lead wow bounceInDown center" >
            Đồ ăn chính là biểu tượng của tình yêu khi ta không tìm ra từ ngữ nào để diễn tả. <b>-Ai Đó 2</b>
          </p>
          <button  data-wow-delay="1.1s" class="wow bounceInDown center btn text-white px-4 py-2"><a style="color: white;text-decoration: none;" href="/search?q=toast#newIn">Tìm hiểu thêm</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
