<section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="content-1">Need help? Contact our support team on</p>
          <p class="content-2">0330 123 4567</p>
        </div>
      </div>
    </div>
  </section>