<div class="donate my-5">
    <div class="container">
 
        <div class="row ">
            <div class="item col-md-6 col-sm-12 col-xs-12 align-self-center " style="margin-top: 30px;" height="482px">
                <h1 class="text-center" style="font-size: 32px;
                color: #3A6073;
                margin: 0;
                padding-top: 20px;
                letter-spacing: 1.7px;">Tặng chúng tôi 1 ly coffee nhé</h1>
               <div class="d-flex justify-content-center align-items-center">
               
                <p>Ví điện tử Momo SĐT: <b>0983930044</b></p>
            
                <p > Hoặc quét QR code nhé :</p>
                <img src="./img/qrmomo.png" alt="" width="200px">
               </div>
               
            </div>
            <div class="item col-md-6 col-sm-12 col-xs-12">
                <div id="container">
                    <svg width="380px" height="482px"  id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 429.13 491.77">
                      <defs></defs>
                      <!-- <title>coffee</title>                  -->
                      <polygon class="cls-3" points="347.36 269.74 258 269.74 258 260.56 348.28 260.4 347.36 269.74"/>
                      <polygon class="cls-3" points="342.77 302.79 210.88 302.79 210.88 293.61 344.45 293.61 342.77 302.79"/>
                      <polygon class="cls-3" points="333.15 339.51 246.99 339.51 246.99 330.33 336.02 330.33 333.15 339.51"/>
                      <polygon class="cls-3" points="319.78 373.17 212.72 373.17 212.72 363.99 324.03 363.99 319.78 373.17"/>
                      <polygon class="cls-3" points="296.83 409.32 247.6 409.32 247.6 401.29 303.08 401.29 296.83 409.32"/>
                    
                      <path class="cls-1" d="M642.58,530.7c-12.33,55.64-43.3,154.23-152.09,154.23-105.57,0-137.9-98.5-150.25-154.23-6.27-28.31-7.34-75.89-7.34-75.89h317S648.86,502.39,642.58,530.7Z" transform="translate(-295.92 -224.85)"/>
                      <path class="cls-2" d="M682.84,664.89c-.92,20-27.24,47-56,47.74H356c-24.33,0-54.62-29.15-56-47.74-.21-2.86,0-11.48,0-11.48H682.84S683,662,682.84,664.89Z" transform="translate(-295.92 -224.85)"/>
                      <path class="cls-1" d="M720.47,529.52c-4.59-32.16-35.13-54.4-68.22-49.68-.74.11-1.48.24-2.21.37-1,15.76-2.88,35.74-6.15,50.49-3.61,16.3-8.83,36.3-17.13,56.42a61.28,61.28,0,0,0,42.11,9.17C702,591.57,725.06,561.68,720.47,529.52Z" transform="translate(-295.92 -224.85)"/>
                    
                      <path id="steam-1" stroke-linecap="round" stroke-linejoin="round" class="steam" d="M426.78,268.95s-17.23,12.9-7,27.5c6.93,9.89,41,24.4,41,40.86,0,24.1-47.58,21.12-50.49,54.64-1.77,20.4,29.25,39.24,29.25,39.24" transform="translate(-295.92 -224.85)" stroke-dasharray="1,42,30" />
                      <path id="steam-2" stroke-linecap="round" stroke-linejoin="round" class="steam"  class="steam" d="M514.05,229.35c-.17,13.18-32.64,30.57-32.64,48.59,0,26.6,41,39.4,41,55.86,0,24.1-47.58,21.12-50.49,54.64-1.55,17.87,29,39.1,29.25,39.24" transform="translate(-295.92 -224.85)" stroke-dasharray="54,4,16,7,48" />
                      <path id="steam-3" stroke-linecap="round" stroke-linejoin="round" class="steam"  class="steam" d="M554.36,268.95s-17.23,12.9-7,27.5c6.93,9.89,41,24.4,41,40.86,0,24.1-47.58,21.12-50.49,54.64-1.77,20.4,29.25,39.24,29.25,39.24" transform="translate(-295.92 -224.85)" stroke-dasharray="48,12,32" />
                    </svg>
                      
                    </div>
            </div>
          
        </div>
    </div>
    
</div>
<style>
#container { 
 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.cls-1,.cls-4{
	fill:none;
}
.cls-1{
	stroke:#404ca2; 
}
.cls-1,.cls-2{
	stroke-miterlimit:10; stroke-width:11px; stroke-linecap:round; stroke-linejoin:round;
}
.cls-2{
	fill:#404ca2;stroke:#9b98d6;}
.cls-3{
	fill:#6b8cda;
}

svg .steam { 
	animation: radiate 520s infinite linear,  faded infinite 4s linear; 
	stroke: rgb(107, 140, 218);
  fill: none;
  stroke-width: 10;
  stroke-linecap:round;
  stroke-linejoin:round;
}
#steam-1 {  animation: radiate 220s infinite linear, faded infinite 3s linear; }

#steam-2 {  animation: radiate 280s infinite linear; }

#steam-3 { animation: radiate 250s infinite linear; }


@keyframes radiate {
  0% { stroke-dashoffset: 1px;  }
  100% { stroke-dashoffset: 10000px; }
}

@keyframes faded {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }

}
</style>