<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5
          class="
            font-weight-bold
            text-uppercase
            
            d-flex
            justify-content-center
          "
        >
        Hội quán mê phim & truyện 

        </h5>
        <h4 class="
        font-weight-bold
        text-uppercase
        mb-4
        d-flex
        justify-content-center
      ">Nam Yêu Nam (est’d 2008) – LGBTism (1998-2021)</h4>
        <p>
          Đây là Blog cá nhân chỉ <b>tổng hợp</b> các <b>ĐƯỜNG DẪN</b> phim nam yêu nam từ <a href="/nguon">[nhiều nguồn khác nhau]</a> của mình, nên KHÔNG CÓ bất cứ PHIM nào được <b>lưu trữ trên máy chủ</b>.
        </p>

        
      </div>
      <hr class="clearfix d-md-none" />
      <div class="col-md-4 col-sm-4 col-xs-12 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
        <div class="d-flex flex-column  social">
          <a
            type="button"
            class="btn-floating btn-fb"
            href="https://www.facebook.com/lgbtism"
          >
            <i class="fab fa-facebook-f " ></i>&nbsp;<span>Facebook</span>
          </a>

          <a
            type="button"
            class="btn-floating btn-dribbble"
            href="mailto:lgbt@rachkien.info"
          >
            <i class="fas fa-envelope "></i>&nbsp;&nbsp; <span>Email&nbsp;&nbsp;&nbsp;</span>
          </a>
          <a
            type="button"
            class="btn-floating btn-dribbble"
            href="https://lgbtism.forumvi.com/"
          >
          <i class="fab fa-blogger pr-4"></i>&nbsp;&nbsp; <span>Blog&nbsp;&nbsp;&nbsp;</span>
          </a>
     
        </div>
      </div>
    </div>
  </div>
<hr>
  <div class="footer-copyright text-center py-3">
    2022 ©
    <a>Fairy0259</a>
  </div>
</footer>
