<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5
          class="
            font-weight-bold
            text-uppercase
            mb-4
            d-flex
            justify-content-center
          "
        >
          Hội quán mê phim & truyện Nam Yêu Nam
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet
          numquam iure provident voluptate esse quasi, veritatis totam voluptas
          nostrum.
        </p>
      </div>
      <hr class="clearfix d-md-none" />
      <div class="col-md-4 col-sm-4 col-xs-12 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
        <div class="d-flex flex-column  social">
          <a
            type="button"
            class="btn-floating btn-fb"
            href="https://www.facebook.com/lgbtism"
          >
            <i class="fab fa-facebook-f " ></i>&nbsp;<span>Facebook</span>
          </a>

          <a
            type="button"
            class="btn-floating btn-dribbble"
            href="mailto:lgbt@rachkien.info"
          >
            <i class="fas fa-envelope pr-4"></i>&nbsp;&nbsp; <span>Email&nbsp;&nbsp;&nbsp;</span>
          </a>
        </div>
      </div>
    </div>
  </div>
<hr>
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a> Admin Bụng Bự</a>
  </div>
</footer>
