<header class="header">
    <div class="container">
      <%- include('./topHeader.ejs')%>


      <nav class="navbar navbar-expand-lg navbar-dark py-0">
        <a class="navbar-brand py-0" href="/" style="font-family: 'Dancing Script', cursive; ">
            <span style="font-size: 40px;padding-right: 4px;">Nam Yêu Nam </span>film
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto border-bottom text-white">
            <a
              class="nav-link text-white px-4 position-relative"
              href="/"
              >HOME</a
            >
            <a class="nav-link text-white px-4 position-relative" href="/layout/products"
              >MENU</a
            >
            <a class="nav-link text-white px-4 position-relative" href="https://tinyurl.com/yfr7tj74">RATE US!</a>

            
          </div>
        </div>
      </nav>
    </div>
  </header>