<div class="donate container mb-5">
    <h1 ><a id="newIn">Nguồn phim</a></h1>
    <div class="row">
        <div class="iconfilm col-lg-3 col-md-6 col-sm-6 col-xs-12 my-5"  ><a href="" ><img src="./img/icon1.jpg" alt="Image" style="height:80px;"></a></div>
        <div class="iconfilm col-lg-3 col-md-6  col-sm-6 col-xs-12 my-5"><a href="" ><img src="./img/icon5.png" alt="Image" style="height:80px;"></a></div>
        <div class="iconfilm col-lg-3 col-md-6  col-sm-6 col-xs-12 my-5"><a href="" ><img src="./img/icon3.jpeg" alt="Image" style="height:80px;"></a></div>
        <div class="iconfilm col-lg-3 col-md-6  col-sm-6 col-xs-12 my-5" ><a href="" ><img src="./img/icon6.png" alt="Image" style="height:80px;"></a></div>
        <div class="iconfilm col-lg-3 col-md-6  col-sm-6 col-xs-12 my-5" ><a href="" ><img src="./img/icon2.png" alt="Image" style="height:80px; width: 180px;"></a></div>
      </div>
</div>

    

  <style>
      @media only screen and (max-width: 600px) {
        .iconfilm{
            display: flex;
		  align-items: center;
		  justify-content: center;
        }
}
.container > h1 {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #3a6073;
  position: relative;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 50px;
  padding-bottom: 20px; }
  .container > h1::after {
    content: "";
    width: 120px;
    display: block;
    height: 4px;
    box-shadow: 0 0 20px 0 #16222a;
    background: linear-gradient(135deg, #ffabab 0, #ffcdb3 20%, #faffb0 40%, #bdffb3 60%, #b3c8ff 80%, #e4b3ff 100%);
    /* dùng position bỏ qua hết các padding */
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.3s linear; }
  </style>