<div class="d-flex justify-content-between align-items-center">
  <div>
     <span class=" font-weight-bold pr-2 text-white title" style="color: #3A6073">Hội quán mê phim & truyện Nam Yêu Nam</span>
  </div>
  <form action="/search?id=#newIn" method="get">
    <div class="form-group d-flex flex-row ">
      <input type="text"
        class="form-control transparent-input mt-3 "  name="q" id="" aria-describedby="helpId" placeholder="Bạn cần tìm phim gì thế?" size="50">
        <button type="submit" class="hover-input btn btn-primary-outline text-white mt-3" ><i class="fa fa-search "></i></button>
    </div>

  </form>
 
 </div>


<style>
    @media only screen and (max-width: 992px) {
  .title {
    display: none;
  }
  .hover-input :hover{
    color: linear-gradient(
    135deg
    ,#ffabab 0,#ffcdb3 20%,#faffb0 40%,#bdffb3 60%,#b3c8ff 80%,#e4b3ff 100%);
  }
input.transparent-input{
 background-color:white;
 border:none;
}
input[type=text] {
  background-color: white;
  color: black;
}
</style>